<div class="container-fluid row" id="addRoom">
  <h3>Room Info</h3>
  <div class="form-horizontal row jumbotron">
    <div class="form-group">
      <label class="col-sm-3 control-label">Room Id</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="tableC.currentDataset.room.id" placeholder="Room Id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="tableC.currentDataset.room.basicInfo.name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Thumbnail</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="tableC.currentDataset.room.basicInfo.thumbnail" placeholder="Thumbnail">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="tableC.currentDataset.room.basicInfo.description" placeholder="Description">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Type</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="tableC.currentDataset.room.type" placeholder="Type">
      </div>
    </div>
    <div class="form-group">
      <input class="col-sm-3 check-box" type="checkbox" ng-model="tableC.currentDataset.room.selection.isEnabled">
      <label class="col-sm-7 control-label checkbox-label">Is Enabled</label>
    </div>
    <div class="form-group">
      <input class="col-sm-3 check-box" type="checkbox" ng-model="tableC.currentDataset.room.selection.isSelected">
      <label class="col-sm-7 control-label checkbox-label">Is Selected</label>
    </div>
  </div>

  <div class="form-group">
      <span class="col-sm-1"></span>
      <button class="btn btn-success btn-md col-sm-3 text-center pull-right" type="button" ui-sref="portal.cities.add.hotel" ng-click="tableC.tableFunctions.save.room()">Save Changes</button>
      <span class="col-sm-1 pull-right"></span>
      <button type="button" class="btn btn-basic btn-md col-sm-2 text-center pull-right" ui-sref="portal.cities.add.hotel" ng-click="tableC.tableFunctions.destroy('room')">Cancel</button>
  </div>
</div>
